<h3> {{ titulo }} </h3>
<form  class="form-horizontal" [formGroup]="formulario">

  <div class="form-group">
    <div class="col sm-3">
      <label for="id">ID</label>
    </div>
    <div class="col-sm-3">
      <input type="number" id="id" formControlName="id" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group">
    <div class="col sm-3">
      <label for="nomeclie">Nome</label>
    </div>
    <div class="col-sm-6">
      <input type="text" id="nomeclie" formControlName="nomeclie" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col sm-3">
      <label for="fone">Fone</label>
    </div>
    <div class="col-sm-6">
      <input type="text" id="fone" formControlName="fone" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col sm-3">
      <label for="nomeclie">Endereço</label>
    </div>
    <div class="col-sm-6">
      <input type="text" id="endereco" formControlName="endereco" class="form-control">
    </div>
  </div>
  <button type="button" (click)="salvarCliente()" class="btn btn-primary" [disabled]=!formulario.valid >Salvar</button>
</form>
